<template name="layout">
  <head>
    <title>zencephalon: {{prose.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="content">
      {{loginButtons}}
      <header>
        <a href="/index"><img src="/zenchinese.png" /></a>
      </header>
      {{yield}}
      {{> footer}}
    </div>
  </body>
</template>

<template name="footer">
  <footer>
    <hr>
    By Matthew Bunday. Please plagiarize me. My goal is maximum distribution by any means. I could not be more delighted than if you were to take my words as your own.
    <br>
    <a href="/s/list">View all pages.</a>
  </footer>
</template>

<template name="prose_url">
{{url}}
</template>