<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico">
</head>

<template name="layout">
  <head>
    <title>zencephalon: {{prose.title}}</title>
  </head>
  <body>
    <div id="content">
      <header>
        <a href="/index"><img src="/zenchinese.png" class="logo"/></a>
        {{loginButtons}}
        {{> quickswitcher}}
      </header>
      {{yield}}
      {{> footer}}
    </div>
  </body>
</template>

<template name="footer">
  <footer>
    <hr>
    By Matthew Bunday. Please plagiarize me. My goal is maximum distribution by any means. I could not be more delighted than if you were to take my words as your own.
    <br>
    <span class="standout">{{word_count}}</span> words in <span class="standout">{{prose_count}}</span> <a href="{{pathFor 'prose_list'}}">pages</a>.
  </footer>
</template>

<template name="prose_url_title">
{{url}} - {{title}}
</template>